

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
  }


body{
    
    font-family :monospace ;
   
}
/* .lista{
    background-color: rgb(236, 24, 35);
} */
h3{
    margin: 10px;
    text-align: center;
    /* font-size: 20px; */
    background-color: rgb(237, 245, 245);
    /* border-radius: 20px; */
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(48, 42, 42);
}
h1{
    text-align: center;
    background-color: rgb(229, 237, 238);
    
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(48, 42, 42);
}
h5{
    height: 250px;
    text-align: center;
}
.list-group{
    text-align: center;
    background-color: rgb(38, 43, 43);
    box-shadow: 5px 5px 8px ;
    padding: 10px;
    
}
.rodape{
    height: 130px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    border-radius: 0px;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 5px 10px 3px rgb(104, 84, 90);
    
   
   
}
.list-group{
    color: rgb(12, 14, 12);
    font-size: 15px;
    font-weight: 700; 
    border: 5px solid rgb(245, 238, 238);   
}
a{
    color: rgb(13, 17, 241);
}

p{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(36, 5, 5);
    
    color: rgb(2, 11, 37);
    background-color: rgb(238, 247, 246);

}

h6{
    font-size: 30px;
    color: rgb(67, 247, 12);
}
.destaque{
    color: rgb(231, 233, 103);
    font-weight: 900;
}
.estilo{
    margin: auto;
}

/* .cor{
   
   background-color: rgb(80, 124, 160); 
    
} */
.cor1{
    background-color: rgb(129, 141, 153);
    font-size: 20px;
    color: rgb(243, 250, 240);
    border: solid 5px rgb(2, 20, 20);
}
.cor2{
    background-color: rgb(149, 235, 153);
    border: 5px solid rgb(107, 103, 103);
   
}

.row{
    background-color: lightblue;
    margin: 10px;
    
}
.col{
    margin: 20px;
}
.list{
    margin-top: 60px;
    list-style : none;
    font-size: 20px;
    text-align: center;
}
