
container{
    margin-top: 26px;
    /* background-color:rgb(207, 235, 214); */
}
.navbar{
    margin:0px 20px;
    border-radius: 5px;
    width: 70px;
  
}
h1{

    background-color: #fff ;
    width: 400px;
    border-radius: 15px;  
    box-shadow: 5px 5px 5px; 
    text-align: center;
    margin: 80px;
    
}
h3{
   width: 145px;
    background-color: yellow;
    border-radius: 100px;
    margin: auto;
    text-align: center;
    
    
}

.foto{
    width: 500px;
    
    background-color: rgb(162, 166, 223);
    margin: 5px;
    display: inline-flex;
    border-radius: 10px;
    text-align: justify;
    color: white;
    box-shadow: 5px 5px 5px black;
 
}
.foto2{
    text-align: center;
}
header{
    background-color: aqua;
    width: 50px;
    text-align: center;
}
h4{
    text-align: right;
    
   
}
.formacao{
    background-color: rgb(135, 180, 238);
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 10px 0px 15px 0px;
    color: rgb(0, 0, 0) ;
}
.footer{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}
.navbar-toggler-icon ,a{
    color: blanchedalmond;
    background-color: rgb(238, 237, 243);
    
}
section h5{
    text-align: right;
    color: rgb(13, 26, 202);
}
.destaque{
    color: rgb(14, 0, 211);
}
a{
    background-color: rgb(178, 200, 201);
    text-align: center;
    border-radius: 100px;
   
}
.end{
    text-align: right;
    
}
li{
    color: rgb(0, 0, 0);
    
}