
.container{
    margin-top: 140px;
}
.navbar{
    margin:0px 20px;
    border-radius: 5px;
}
h1{

    background-color: #ccc ;
    width: auto;
    border-radius: 15px;  
    box-shadow: 10px 5px 10px; 
    
}

.foto{
margin-top: 10px;

display: inline-block;
text-align: center;
background-color: aqua;
}
header{
    background-color: aqua;
    width: 50px;
    text-align: center;
}
h4{
    text-align: center;
}
.formacao{
    background-color: rgb(18, 15, 214);
    border-radius: 15px;
    box-shadow: 15px 10px 12px;
    margin-bottom: 10px 0px 15px 0px;
    color: rgb(177, 165, 165);
}
.footer{
    background-color: rgb(76, 80, 76);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}
.navbar-toggler-icon ,a{
    color: blanchedalmond;
    background-color: rgb(238, 237, 243);
    
}
section h6{
    text-align: center;
    color: red;
}

